.content
    div {{ userId }}
    template(v-if="user")
        div
            img(:src="user.apiUser.currentAvatarThumbnailImageUrl"
                :alt="user.apiUser.displayName ?? user.id"
                style="width: 256px; height: 192px;")
        div username={{ user.apiUser.username }}
        div displayName={{ user.apiUser.displayName }}
        div trustLevel={{ user.trustLevelText }}
        div bio
        div(v-html="bio")
        div last_login={{ user.apiUser.last_login }}
        div [{{ user.apiUser.status }}] {{ user.apiUser.statusDescription }}
        div timer={{ instanceDuration }}
        div friendRequest={{ friendRequest ? 'O' : 'X' }}, incomingFriendRequest={{ user.incomingFriendRequest }}, outgoingFriendRequest={{ user.outgoingFriendRequest }}
        div(v-if="playerModeration")
            | block={{ playerModeration.typeMap.get('block') ? 'O' : 'X' }}
            | mute={{ playerModeration.typeMap.get('mute') ? 'O' : 'X' }}
            | unmute={{ playerModeration.typeMap.get('unmute') ? 'O' : 'X' }}
            | hideAvatar={{ playerModeration.typeMap.get('hideAvatar') ? 'O' : 'X' }}
            | showAvatar={{ playerModeration.typeMap.get('showAvatar') ? 'O' : 'X' }}
        div #[location(:location="user.apiUser.location" :clickable="true")]
        div(v-if="worldInstance !== void 0")
            div
                el-button(@click.prevent="refreshInstance") refresh instance
            div ownerId=#[a(href="#" @click.prevent="clickInstanceOwner") {{ worldInstance.ownerId }}]
            div(v-if="instanceOwner !== void 0" style="padding-left: 15px;")
                div username={{ instanceOwner.apiUser.username }}
                div displayName={{ instanceOwner.apiUser.displayName }}
            div players={{ worldInstance.n_users }}/{{ worldInstance.capacity }}
            //- a(:href="worldLink" target="_blank") {{ worldLink }}
        el-dropdown(trigger="click" @command="onActionMenuCommand" placement="top")
            template(#default)
                el-button action menu #[.el-icon-arrow-down.el-icon--right]
            template(#dropdown)
                el-dropdown-menu
                    el-dropdown-item(command="sendFriendRequest") send friend request
                    el-dropdown-item(command="cancelFriendRequest") cancel friend request
                    el-dropdown-item(divided command="acceptFriendRequest") accept friend requst
                    el-dropdown-item(command="declineFriendRequest") decline friend requst
                    el-dropdown-item(divided command="unfriend") unfriend
                    el-dropdown-item(divided command="blockUser") block user
                    el-dropdown-item(command="unblockUser") unblock user
                    el-dropdown-item(divided command="muteUser") mute user
                    el-dropdown-item(command="unmuteUser") unmute user
                    el-dropdown-item(divided command="hideAvatar") hide avatar
                    el-dropdown-item(command="showAvatar") show avatar
                    el-dropdown-item(divided command="sendRequestInvite") send request invite
                    el-dropdown-item(command="sendInvite") send invite
                    el-dropdown-item(divided command="sendInviteMe") send invite me
                    el-dropdown-item(command="playGame") play game
        div(v-if="world !== void 0")
            div(v-for="[instanceId, instance] of world.instances" :key="instanceId")
                div #[location(:location="instanceId" :is-hide-world-name="true")]
                div(v-for="user of instance.users" :key="user.id")
                    div {{ user.apiUser.displayName ?? user.id }}
    div
        el-button(@click.prevent="removeFavorite") unfavorite
        el-button(v-for="(favoriteGroup, index) in friendFavoriteGroupList" :key="index" @click="addFavorite(favoriteGroup)")
            template(v-if="favoriteGroup === favorite?.favoriteGroup")
                | {{ `[HERE] ${favoriteGroup.apiFavoriteGroup.displayName} (${favoriteGroup.favoriteMap.size}/${favoriteGroup.capacity})` }}
            template(v-else)
                | {{ `${favoriteGroup.apiFavoriteGroup.displayName} (${favoriteGroup.favoriteMap.size}/${favoriteGroup.capacity})` }}
    div(style="max-height: 300px; overflow: auto;")
        pre {{ JSON.stringify(user, null, 2) }}
